@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../public/fonts/Gilroy-Regular.ttf");

    font-family: "Gilroy-Medium";
    src: url("../public/fonts/Gilroy-Medium.ttf");

    font-family: "Gilroy-ExtraBold";
    src: url("../public/fonts/Gilroy-ExtraBold.ttf");

  }
